---
services:
  {{ portainer_stackname }}:
    container_name: {{ portainer_stackname }}
    image: portainer/portainer-ce:latest
    ports:
      - 8000:8000
      - 9443:9443
      - 9000:9000 # for http
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - {{ portainer_stackname }}

volumes:
  data:

networks:
  {{ portainer_stackname }}:
    external: true
...